ul {
  list-style: none;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

canvas {
  border: 2px dotted darkblue;
}