ul {
  list-style: none;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

.nav a {
  text-decoration: none;
}

canvas {
  border: 2px dotted darkblue;
}

/* Fractal Card styling */

.fractalCardContainer {
  display: flex;
  align-items: center;
}

.fractalCard {
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 7px 7px 10px grey;
  width: 30%;
  margin: auto;
}

.fractalCard img {
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

/*  */